:root {
  /* Variables */
  /* colors */
  --primary-color: #ecf2f3;
  --secondary-color: #0f8b8d;
  --tertiary-color: #ec9a29;
  --text-color: #143642;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.subhead {
  font-size: 1.4em;
  font-style: italic;
}

form {
  max-width: 825px;
}

form > p {
  font-size: 3.2rem;
  margin: 1rem 0;
}

input::placeholder {
  color: var(--text-color);
}

input,
select {
  background-color: hsl(from var(--secondary-color) h s l / 0.2);
  color: var(--text-color);
  max-height: 1.25em;
  width: fit-content;
  border: none;
  border-bottom: 3px solid var(--secondary-color);
}

.btn {
  background-color: var(--text-color);
  color: var(--primary-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
}
