#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.subhead {
  font-size: 1.4em;
  font-style: italic;
}

label {
  display: block;
  margin: 1rem 0;
}

label > span {
  margin-right: 1rem;
}

label > input {
  border: none;
  border-bottom: 1px solid #333;
  background-color: #f0f0f0;
}

button {
  background-color: rgb(26, 90, 180) !important;
  color: white;
}